# Custom additions

# Ignore testcases
tests/

# Ignore supporting material
package-lock.json
package.json
.eslintrc*
Makefile

# Ignore system-specific Node.js files
node_modules/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore old/reference material
ref/
old/

# Ignore notes files
notes.txt

# Ignore swap files
.*.swp
.*.swo
