
# Ignore files not meant for distribution
plugins/dwangoAC.js
dist/plugins/dwangoAC.js

# Ignore assets not included in project
assets/3rdparty/

# Ignore Node.js files
node_modules/
package-lock.json
.eslintrc*

# Ignore reference material
notes.txt
ref/

# Ignore swap/temporary/compiled files
*.pyc
*.pyo
.*.swp
.*.swo
.swp
.swo
.checkin-status
