
# Ignore files not meant for distribution
plugins/dwangoAC.js
dist/plugins/dwangoAC.js
make-readme.sh

# Ignore assets not included in project
assets/3rdparty/

# Ignore Node.js files
node_modules/
package-lock.json

# Ignore reference material
notes/
notes.txt

# Ignore swap/temporary/compiled files
*.pyc
*.pyo
.*.swp
.*.swo
.swp
.swo
.checkin-status
README.html
