:root {
  /* Default colors (change if desired) */
  --body-color-default: #0E0E0E;
  --header-color-default: #191919;
  --menudiv-color-default: #f0f0f0;
  --module-color-default: #0e0e0e;
  --odd-line-color-default: #303030;
  --sub-color-default: #404040;
  --chat-color-default: #0e0e0e;
  --textarea-color-default: #1a1a1a;

  --chat-border-default: #7d5bbe;
  --disabled-input-default: #dddddd;

  /* The following colors are affected by ?trans=1 */
  --body-color: var(--body-color-default);
  --header-color: var(--header-color-default);
  --menudiv-color: var(--menudiv-color-default);
  --module-color: var(--module-color-default);
  --odd-line-color: var(--odd-line-color-default);
  --sub-color: var(--sub-color-default);
  --chat-color: var(--chat-color-default);
  --textarea-color: var(--textarea-color-default);

  /* The following colors are not */
  --chat-border: var(--chat-border-default);
  --disabled-input: var(--disabled-input-default);

  /* Debugging and other things */
  --body-font-size: 18px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: var(--body-font-size, 18px);
  color: #cccccc;
}

input {
  padding: 2px;
  font-size: 0.8em;
}

body {
  background: var(--body-color, var(--body-color-default));
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.column.full {
  width: 100%;
  height: 100%;
}

.column .module {
  height: 100%;
  position: relative;
  border: 2px solid #3c3c3c;
  background: var(--module-color, var(--module-color-default));
}

.module .header {
  height: 2.2em;
  line-height: 2em;
  border-bottom: 2px ridge #666666;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--header-color, var(--header-color-default));
}

.module .header .menu {
  display: inline-block;
  width: 2em;
  padding: 0.3em 0.3em;
  cursor: pointer;
}

.module .header .menu div {
  margin-top: 15%;
  height: 3px;
  border-radius: 2px;
  background: var(--menudiv-color, var(--menudiv-color-default));
}

.module .header label {
  vertical-align: top;
}

.module .header input.name {
  display: none;
  vertical-align: top;
  margin-top: 0.2em;
  font-size: 0.9em;
}

.module .header .clear-chat {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.2em;
  margin-bottom: 1em;
  font-size: 1em;
  top: -1pt;
}

.module .header .clear-chat .clear-chat-icon {
  padding-top: 0.5em;
  width: 1.1em;
  height: 1.6em; /* .header height 2.2em line-height 2em */
}

.module .header .clear-chat .clear-chat-link {
  text-decoration: none;
  background: transparent;
  color: white;
}

/* Help formatting {{{0 */

.help {
  font-size: 0.9em;
  font-family: monospace;
}

.help .arg {
  font-family: monospace;
  font-style: italic;
}

.helpline {
  margin-left: 1em;
}

.helpcmd {
  width: 15%;
}

.helpmsg {
  float: right;
  width: 85%;
}

/* End help formatting 0}}} */

/* Settings {{{0 */

.module .settings {
  position: absolute;
  top: 2.2em;
  background: #333333;
  width: 100%;
  line-height: 1.5em;
  padding: 0.5em;
  border-bottom: 2px ridge #666666;
  display: none;
}

.module .settings ul {
  margin-left: 0.8em;
}

.module .settings ul li {
  position: relative;
}

.module .settings input[type="checkbox"] {
  margin-right: 4px;
  vertical-align: text-bottom;
}

.module .settings input[type="text"] {
  display: inline-block;
  padding: 1px;
  width: 145px;
}

.module .settings .textbox {
  padding-left: 17px;
}

.module .settings .textbox label {
  width: 100px;
  display: inline-block;
  font-size: 0.9em;
}

/* End settings 0}}} */

input:disabled {
  background: var(--disabled-input, var(--disabled-input-default));
}

.loading {
  position: relative;
  font-size: 32pt;
  font-weight: bold;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 16pt);
}

#wrapper-loading.loading {
  font-size: 28pt;
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(50% - 14pt);
}

.module .content {
  padding: 2.2em 0 0 0;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
}

.module .content.slim {
  padding: 0 0 0 0;
}

.module .content .line.line-wrapper {
  line-height: 1.3em;
  padding: 4px;
}

.module .content .line-wrapper:nth-child(2n) {
  background: var(--odd-line-color, var(--odd-line-color-default));
}

.module .content .chat-line.self {
  border: 2px solid #c03030;
}

.username {
  font-weight: bold;
  text-shadow: -1px -1px 1px black,
               1px 1px 1px black,
               -1px 1px 1px black,
               1px -1px 1px black;
}

.username.low-contrast {
  text-shadow: -1px -1px 1px lightgray,
               1px 1px 1px lightgray,
               -1px 1px 1px lightgray,
               1px -1px 1px lightgray;
}

.module .content .line {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.module .content .message {
  color: #e0e0e0;
}

.module .content .message:not(.effect-rainbow) {
  text-shadow: -1px -1px 1px black,
                -1px 1px 1px black,
                2px 2px 1px black;
}

.module .content .sub-message {
  font-weight: bold;
  font-style: italic;
}

.module .content .message.highlight { }

.module .content .message .cheer {
  font-weight: bold;
}

.module .content .message em {
  font-weight: bold;
}

.module .content .line .notice {
  border: 2px solid yellow;
  font-weight: bold;
}

.module .content .line .error {
  border: 2px solid red;
  font-weight: bold;
}

.module .content .line .reconnect {
  float: right;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: underline;
}

.module .content .line.line-wrapper img {
  vertical-align: middle;
}

.module .content .line.line-wrapper span.badges img {
  margin-right: 3px;
}

.module .content img.badge {
  width: 18px;
  max-width: 18px;
}

.module .content .sub {
  background: var(--sub-color, var(--sub-color-default));
  color: #999999;
}

.module .content a {
  color: #999999;
  text-decoration: none;
}

.module .content a:hover {
  text-decoration: underline;
}

.module.no-chat .content {
  height: 100%;
}

.module.has-chat .content {
  height: calc(100% - 6em);
}

/* Chat textbox {{{0 */

#chat {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #666666;
  padding: 10px;
  height: 6em;
  background: var(--chat-color, var(--chat-color-default));
}

#chat textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px ridge #444444;
  background: var(--textarea-color, var(--textarea-color-default));
  padding: 4px;
  color: #f0f0f0;
  font-size: 1em;
  transition: border linear 0.3s;
}

#chat textarea:focus {
  border-color: var(--chat-border, var(--chat-border-default));
}

/* End chat textbox 0}}} */

/* Settings {{{0 */

#settings {
  color: #dddddd;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  background: #555555;
  padding: 10px;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

#settings header {
  line-height: 30px;
  font-size: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: solid 1px #aaaaaa;
}

#settings ul {
  margin: 0.5em 0;
}

#settings ul li {
  line-height: 1.7em;
}

#settings ul li label {
  display: inline-block;
  width: 7em;
  font-size: 0.9em;
}

#settings ul li input {
}

#settings ul li input.middle {
  vertical-align: text-bottom;
}

#settings footer {
  line-height: 30px;
  padding-top: 0.2em;
  border-top: solid 1px #aaaaaa;
}

#settings footer a {
  cursor: pointer;
}

#settings_button {
  position: fixed;
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

#settings_button:hover {
  opacity: 1.0;
}

#settings footer span.fl {
  float: left;
}

#settings footer span.fr {
  float: right;
}

/* End settings 0}}} */

/* Username context window {{{0 */

#username_context {
  display: none;
  position: absolute;
  width: 32em;
  border: 10px black solid;
  border-style: outset;
  background-image: linear-gradient(to right, darkgray, lightgray);
  color: black;
}

#username_context .item {
  display: block;
  font-family: monospace;
}

#username_context .item .em {
  font-weight: bold;
}

#username_context .cw-timeout:first-child {
  margin-right: 2px;
}

#username_context a.cw-timeout-dur {
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* End username context window 0}}} */

@media screen and (min-width:400px) {
  #settings {
    width: 400px;
    border-bottom-left-radius: 6px;
  }
}

/* CSS custom marquee {{{0 */

.effect-marquee {
  overflow: hidden;
  position: absolute;
  text-align: left;
  height: 1.3em;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* End CSS custom marquee 0}}} */

/* CSS cheer effects {{{0 */

.effect-bold {
  font-weight: bold;
}

.effect-italic {
  font-style: italic;
}

.effect-underline {
  text-decoration: underline;
}

.effect-upsidedown {
  display: block;
  float: right;
  transform: rotate(180deg);
  text-align: left;
}

.effect-inverted {
  filter: invert(100%);
}

.effect-strikethrough {
  text-decoration: line-through;
}

.effect-subscript {
  font-size: smaller;
  vertical-align: sub;
}

.effect-superscript {
  font-size: smaller;
  vertical-align: super;
}

.effect-big {
  font-size: large;
}

.effect-small {
  font-size: small;
}

.effect-rainbow {
  background-image: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End CSS cheer effects 0}}} */

