/* Using "trans=1" changes all variables named "--<label>-color" to either
 * "transparent" or var(--<label>-color-default).
 *
 * To have color variables ignored by "trans=1", name them something other than
 * "--<label>-color".
 *
 * Feel free to change the default variables below.
 */

:root {
  /* Default colors (used by ?trans=1 because "-color-default") */
  --body-color-default: #0E0E0E;
  --header-color-default: #191919;
  --menudiv-color-default: #f0f0f0;
  --module-color-default: #0e0e0e;
  --odd-line-color-default: #303030;
  --sub-color-default: #404040;
  --chat-color-default: #0e0e0e;
  --textarea-color-default: #1a1a1a;

  /* Default colors (not used by ?trans=1) */
  --chat-border-default: #7d5bbe;

  /* The following colors are affected by ?trans=1 (because "-color") */
  --body-color: var(--body-color-default);
  --header-color: var(--header-color-default);
  --menudiv-color: var(--menudiv-color-default);
  --module-color: var(--module-color-default);
  --odd-line-color: var(--odd-line-color-default);
  --sub-color: var(--sub-color-default);
  --chat-color: var(--chat-color-default);
  --textarea-color: var(--textarea-color-default);

  /* The following colors are not */
  --chat-border: var(--chat-border-default);

  /* Font and text information */
  --body-font-size-default: 12pt;
  --body-font-size: var(--body-font-size-default);
  --body-font-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --body-font: var(--body-font-default);

  /* Other values */
  --header-height: 2.2em;
  --chat-height: 6em;
  --z-index-line: 10;
  --z-index-chat: 12;
  --z-index-settings: 20;
}

/* Top-level rules {{{0 */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: var(--body-font);
}

html, body {
  width: 100%;
  height: 100%;
  font-size: var(--body-font-size, 18px);
  color: #cccccc;
}

body {
  background: var(--body-color, var(--body-color-default));
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.debug {
  position: absolute;
  color: black;
  font-weight: bold;
  background-color: white;
  z-index: 100;
}

input {
  padding: 2px;
  font-size: 0.8em;
}

.username {
  font-weight: bold;
}

/* End top-level rules 0}}} */

/* Column and module CSS {{{0 */

.column {
  height: 100%;
}

.column.left {
  float: left;
  width: 50%;
}

.column.right {
  float: right;
  width: 50%;
}

.column.full {
  width: 100%;
}

.column .module {
  height: 100%;
  position: relative;
  border: 2px solid #3c3c3c;
  background: var(--module-color, var(--module-color-default));
}

.module.no-chat .content {
  height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
}

.module.has-chat .content {
  height: calc(100% - var(--chat-height) - var(--header-height));
  margin-top: var(--header-height);
}

.module.no-chat.slim .content {
  height: 100%;
  margin-top: 0;
}

.module.has-chat.slim .content {
  height: calc(100% - var(--chat-height));
  margin-top: 0;
}

.loading {
  position: relative;
  font-size: 32pt;
  font-weight: bold;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 16pt);
}

#wrapper-loading.loading {
  font-size: 28pt;
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(50% - 14pt);
}

.module .content {
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
}

/* End of column and module CSS 0}}} */

/* Header CSS {{{0 */

.module .header {
  height: var(--header-height);
  line-height: 2em;
  border-bottom: 2px ridge #666666;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--header-color, var(--header-color-default));
}

.module .header .menu {
  display: inline-block;
  width: 2em;
  padding: 0.3em 0.3em;
  cursor: pointer;
}

.module .header .menu div {
  margin-top: calc(var(--header-height) / 10);
  height: 3px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #0e0e0e;
  transition: background-color 0.5s;
  background-color: #c0c0c0;
}

.module .header .menu:hover div {
  background-color: #ffffff;
}

.module .header label {
  vertical-align: top;
}

.module .header input.name {
  display: none;
  vertical-align: top;
  margin-top: 0.2em;
  font-size: 0.9em;
}

.module .header .clear-chat {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.2em;
  margin-bottom: 1em;
  font-size: 1em;
  top: -1pt;
}

.module .header .clear-chat .clear-link {
  text-decoration: none;
  background: transparent;
  color: white;
}

.module .header .clear-chat .clear-icon {
  padding-top: 0.5em;
  width: 1.1em;
  height: 1.6em;
}

/* End header CSS 0}}} */

/* Help formatting {{{0 */

.help {
  font-size: 0.9em;
  font-family: monospace;
}

.help .arg {
  font-family: monospace;
  font-style: italic;
}

.helpline {
  display: grid;
  grid-template-columns: 15% auto;
  margin-left: 1.5em;
}

.helpline div {
  font-size: 0.9em;
  font-family: monospace;
}

/* End help formatting 0}}} */

/* Module settings {{{0 */

.module .settings {
  position: absolute;
  top: var(--header-height);
  background: #333333;
  max-width: 100%;
  line-height: 1.5em;
  padding: 0.5em;
  border-bottom: 2px ridge #666666;
  overflow: auto;
  display: none;
  z-index: var(--z-index-settings);
}

.module .settings fieldset {
  width: 100%;
  border-color: #8a8a8a;
}

.module .settings ul {
  margin-left: 0.8em;
}

.module .settings ul li {
  position: relative;
}

.module .settings input[type="checkbox"] {
  margin-right: 4px;
  vertical-align: text-bottom;
}

.module .settings input[type="text"] {
  display: inline-block;
  padding: 1px;
  width: 145px;
}

.module .settings input[type="password"] {
  display: inline-block;
  padding: 1px;
  width: 145px;
}

.module .settings .textbox {
  padding-left: 17px;
}

.module .settings .textbox label {
  width: 100px;
  display: inline-block;
  font-size: 0.9em;
}

/* End module settings 0}}} */

/* Line CSS {{{0 */

.module .content .line.line-wrapper {
  z-index: var(--z-line);
}

.module .content .line.line-wrapper:nth-child(2n) {
  background: var(--odd-line-color, var(--odd-line-color-default));
}

.module .content .line .username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.module .content .line {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.module .content .line .message {
  color: #e0e0e0;
}

.module .content .line .chat-line.chat-vip:not(.chat-sub) {
  border: 2px inset darkorchid;
}

.module .content .line .chat-line.chat-sub:not(.chat-mod) {
  border: 2px inset forestgreen;
}

.module .content .line .chat-line.chat-mod:not(.chat-caster) {
  border: 2px inset crimson;
}

.module .content .line .chat-line.chat-caster {
  border: 2px inset goldenrod;
}

.module .content .line .chat-line.self {
  border: 2px solid #c03030;
}

.module .content .line .message {
  text-shadow: -1px -1px 1px black,
               -1px  1px 1px black,
                2px  2px 1px black;
}

/* Specific effect overrides {{{1 */

.module .content .line .message.effect-rainbow { text-shadow: none; }
.module .content .line .message.effect-disco { text-shadow: none; }

/* End of specific effect overrides 1}}} */

.module .content .line .sub-message {
  font-weight: bold;
  font-style: italic;
}

.module .content .line .raid {
  font-weight: bold;
  font-style: italic;
}

.module .content .line .message.highlight { }

.module .content .line .message .cheer {
  font-weight: bold;
}

.module .content .line .message em {
  font-weight: bold;
}

.module .content .line .info {
  border: 2px solid forestgreen;
  font-weight: bold;
}

.module .content .line .notice {
  border: 2px solid yellow;
  font-weight: bold;
}

.module .content .line .error {
  border: 2px solid red;
  font-weight: bold;
}

.module .content .line .reconnect {
  float: right;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: underline;
}

.module .content .line img {
  vertical-align: middle;
}

.module .content .line span.badges img {
  margin-right: 3px;
}

.module .content .line img.badge {
  width: 18px;
  max-width: 18px;
}

.module .content .line .sub {
  background: var(--sub-color, var(--sub-color-default));
  color: #999999;
}

.module .content a {
  color: #999999;
  text-decoration: none;
}

.module .content a:hover {
  text-decoration: underline;
}

/* End of line CSS 0}}} */

/* Chat textbox {{{0 */

#chat {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #666666;
  padding: 10px;
  height: var(--chat-height);
  background: var(--chat-color, var(--chat-color-default));
  z-index: var(--z-index-chat);
}

#chat textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px ridge #444444;
  background: var(--textarea-color, var(--textarea-color-default));
  padding: 4px;
  color: #f0f0f0;
  font-size: 1em;
  transition: border linear 0.3s;
}

#chat textarea:focus {
  border-color: var(--chat-border, var(--chat-border-default));
}

/* End chat textbox 0}}} */

/* Top-level settings {{{0 */

#settings {
  color: #dddddd;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  background: #555555;
  padding: 10px;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  z-index: var(--z-index-settings);
}

#settings header {
  line-height: 30px;
  font-size: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: solid 1px #aaaaaa;
}

#settings header .builder {
  line-height: 30px;
  padding-top: 0.2em;
  padding-right: calc(24px + 0.5em);
  cursor: pointer;
}

#settings header .builder:hover {
  text-decoration: underline;
}

#settings ul {
  margin: 0.5em 0;
}

#settings ul li {
  line-height: 1.7em;
}

#settings ul li label {
  display: inline-block;
  width: 7em;
  font-size: 0.9em;
}

#settings ul li input { }

#settings ul li input.middle {
  vertical-align: text-bottom;
}

#settings #txtPassDummy {
  display: none;
}

#settings a.help {
  vertical-align: text-top;
  text-decoration: underline;
  font-size: 0.6em;
  content: "?";
  cursor: pointer;
}

#settings footer {
  line-height: 30px;
  padding-top: 0.2em;
  border-top: solid 1px #aaaaaa;
}

#settings footer a {
  cursor: pointer;
}

#settings footer a:hover {
  text-decoration: underline;
}

#btnSettings {
  position: fixed;
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: var(--z-index-settings);
}

#btnSettings:hover {
  opacity: 1.0;
}

body.slim #btnSettings {
  display: none;
}

@media screen and (min-width:350px) {
  #settings {
    width: 350px;
    border-bottom-left-radius: 6px;
  }
}

/* End top-level settings 0}}} */

/* Username context window {{{0 */

#userContext {
  display: none;
  position: absolute;
  width: 32em;
  border: 10px black solid;
  border-radius: 10px;
  border-style: outset;
  background-image: linear-gradient(to right, darkgray, lightgray);
  color: black;
}

#userContext .item {
  display: block;
  font-family: monospace;
}

#userContext .item .em {
  font-weight: bold;
}

#userContent .em.pad {
  margin-left: 0.5em;
}

#userContext .cw-timeout:first-child {
  margin-right: 2px;
}

#userContext a.cw-timeout-dur {
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* End username context window 0}}} */

/* CSS custom marquee {{{0 */

.effect-marquee {
  overflow: hidden;
  position: absolute;
  text-align: left;
  height: 1.3em;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* End CSS custom marquee 0}}} */

/* CSS cheer effects {{{0 */

.effect-bold {
  font-weight: bold;
}

.effect-italic {
  font-style: italic;
}

.effect-underline {
  text-decoration: underline;
}

.effect-upsidedown {
  display: block;
  float: right;
  transform: rotate(180deg);
  text-align: left;
}

.effect-inverted {
  filter: invert(100%);
}

.effect-strikethrough {
  text-decoration: line-through;
}

.effect-subscript {
  font-size: calc(var(--body-font-size)*0.8);
  vertical-align: sub;
}

.effect-superscript {
  font-size: calc(var(--body-font-size)*0.8);
  vertical-align: super;
}

.effect-big {
  font-size: calc(var(--body-font-size)*1.2);
}

.effect-small {
  font-size: calc(var(--body-font-size)*0.8);
}

.effect-rainbow {
  background-image: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.effect-disco {
  background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, violet, red);
  text-shadow: none;
  background-size: 400% 100%;
  animation-name: anim-disco;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes anim-disco {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}

/* End CSS cheer effects 0}}} */

/** TFC page structure:
 * body
 *  span#debug.debug
 *  div#wrapper
 *   div#wrapper-loading.loading
 *   div#column1.column.left (or .full)
 *    div#module1.module.left.no-chat (or .full.chat, .full.no-chat)
 *     <template:module-definition>
 *   div#column2.column.right
 *    div#module2.module.right.no-chat (or .chat)
 *     <template:module-definition>
 *
 ** <template:module-definition>:
 * div.header
 *  div.menu
 *   div{3}
 *  span.clear-chat
 *   a.clear-link[data-for="module1"]
 *    img.clear-icon
 *  div.settings
 *   p
 *   ul.include
 *    li label input.pleb
 *    li label input.sub
 *    li label input.vip
 *    li label input.mod
 *    li label input.event
 *    li label input.bits
 *    li label input.me
 *   p
 *   ul.limit
 *    li.textbox.from_channel
 *     input
 *     label
 *   p
 *   ul.exclude
 *    li.textbox.exclude_user
 *     label
 *     input
 *    li.textbox.exclude_startswith
 *     label
 *     input
 *  label.name
 *  input.name
 * div.content
 *  div.loading
 *  div.line.line-wrapper
 *   div.chat-line
 *    span.badges
 *     img.badge
 *    span.username
 *    span.message
 *     img.emote (one of .twitch-emote, .ffz-emote, or .bttv-emote)
 */

